{{!< default}}
<div class="indexBox" id="indexBox">
  {{> "brief"}}
  {{> "sideNav"}}

  <div class="mobileOnly">
    {{navigation}}
  </div>
  <!--userAgent-->
  <div class="UA">
    <div class="UABox">
      <p> Shanghai Jiao Tong University </p>
      <p> Software Engineering </p>
      <p> System Software </p>
      <h4> interest in </h4>
      <p> Linux, Virtualization, Parallel, Network </p>
      <p> Violin, Chinese Poem </p>
      <p> and My Girlfriend </p>
      <h4> Contact </h4>
      <p> mjc0608 # gmail.com </p>
      <p> mjc0608 # sjtu.edu.cn </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  {{#author}}
    <div class="portrait">
      {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{/if}}
    </div>
  {{/author}}
</div>
