{{!< default}}
<div class="indexBox" id="indexBox">
  {{> "brief"}}
  {{> "sideNav"}}

  <div class="mobileOnly">
    {{navigation}}
  </div>
  <!--userAgent-->
  <div class="UA">
    <div class="UABox">
      <p> Shanghai Jiao Tong University Loser </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>

  {{#author}}
    <div class="portrait">
      {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{/if}}
    </div>
  {{/author}}
</div>
