{{!< default}}
<div class="indexBox" id="indexBox">
  {{> "brief"}}
  {{> "sideNav"}}

  <div class="mobileOnly">
    {{navigation}}
  </div>
  <!--userAgent-->
  <div class="UA">
    <div class="UABox">
      <br>
      <br>
      <h4> education </h4>
      <p> Shanghai Jiao Tong University </p>
      <p> Software Engineering <code>in</code> System Software </p>
      <br>
      <h4> interest in </h4>
      <p> system, virtualization, parallel </p>
      <p> violin, poem </p>
      <p> and my girlfriend </p>
      <br>
      <h4> contact </h4>
      <p> mjc0608 # gmail.com </p>
      <p> mjc0608 # sjtu.edu.cn </p>
      <br>
      <br>
      <br>
    </div>
  </div>

  {{#author}}
    <div class="portrait">
      {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
      {{/if}}
    </div>
  {{/author}}
</div>
